include ../button

mixin about(removeHead=false)
  section(class="col-span-full grid grid-cols-subgrid")&attributes(attributes)
    if !removeHead
      div(
        class="col-[main] grid grid-cols-subgrid items-end gap-y-2 ~mb-8/12 sm:gap-x-4"
      )
        h2(
          class="col-span-full text-h2 font-medium text-brand sm:col-[span_12] md:col-span-10"
        ) О компании
        div(
          class="col-span-full justify-end sm:col-[span_7/-1] sm:flex md2:col-[span_5/-1]"
        )
          +button("ghost", "default", true)(href="#", class="h-auto !px-0")
            span О застройщике
            span(class="ml-3 ~h-[0.875rem]/4 ~w-4/[1.125rem]")
              svg(
                width="100%",
                height="100%",
                viewBox="0 0 16 19",
                fill="none",
                xmlns="http://www.w3.org/2000/svg"
              )
                path(
                  fill-rule="evenodd",
                  clip-rule="evenodd",
                  d="M16 9.50002L6.96306 18.539L5.49323 17.0713L12.0265 10.538L-4.40481e-07 10.538L-3.49735e-07 8.46201L12.0265 8.462L5.49323 1.93083L6.96306 0.460998L11.4815 4.98051L16 9.50002Z",
                  fill="currentColor"
                )
    div(class="col-span-full grid grid-cols-subgrid gap-4 sm:col-[main] sm:gap-5")
      div(
        class="relative col-span-full bg-muted-foreground ~h-[17.5rem]/[25rem] sm:col-span-12"
      )
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
      div(
        class="relative col-span-full flex flex-col bg-muted-foreground py-6 transition-all duration-300 ~h-[17.5rem]/[25rem] ~px-4/8 hover:bg-primary hover:text-muted-foreground sm:col-span-12"
      )
        h3(class="text-h3") Мы&nbsp;строим ради того, чтобы вы&nbsp;вдохновлялись пространством в&nbsp;котором живёте и&nbsp;творили великие дела
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 transition-all duration-300 ~px-4/8 hover:bg-primary hover:text-muted-foreground sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h3(class="text-h3") Опережаем сроки строительства
        span(class="mt-auto ~h-[3rem]/[4.875rem] ~w-[3rem]/[4.875rem]")
          svg(
            width="100%",
            height="100%",
            viewBox="0 0 79 79",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            g(clip-path="url(#clip0_211_219)")
              path(
                d="M77.44 78.9999H0.77C0.35 78.9999 0 78.6599 0 78.2299V1.55993C0 1.24993 0.19 0.969926 0.47 0.849926C0.76 0.729926 1.09 0.789926 1.31 1.01993L77.98 77.6899C78.2 77.9099 78.27 78.2399 78.15 78.5299C78.03 78.8199 77.75 78.9999 77.44 78.9999ZM1.53 77.4599H75.59L1.53 3.40993V77.4699V77.4599Z",
                fill="currentColor"
              )
              path(
                d="M0.77002 54.5701V78.2301H24.43C17.9 78.2301 11.98 75.5801 7.70002 71.3001C3.42002 67.0201 0.77002 61.1001 0.77002 54.5701Z",
                fill="currentColor"
              )
              path(
                d="M24.42 79H0.77C0.35 79 0 78.6601 0 78.2301V54.57C0 54.15 0.34 53.8 0.77 53.8C1.2 53.8 1.54 54.14 1.54 54.57C1.54 60.68 3.92 66.4301 8.24 70.7601C12.56 75.0801 18.31 77.4701 24.43 77.4701C24.85 77.4701 25.2 77.81 25.2 78.24C25.2 78.67 24.86 79.0101 24.43 79.0101L24.42 79ZM1.53 77.46H15.87C12.64 76.25 9.67 74.3501 7.15 71.8401C4.64 69.3301 2.74 66.3601 1.53 63.1201V77.46Z",
                fill="currentColor"
              )
              path(
                d="M39.1002 59.82C33.9902 59.82 28.8902 57.88 25.0002 53.99C21.2302 50.23 19.1602 45.2199 19.1602 39.8899C19.1602 34.5599 21.2302 29.56 25.0002 25.79C28.7602 22.02 33.7702 19.95 39.1002 19.95C44.4302 19.95 49.4302 22.02 53.2002 25.79C56.9702 29.56 59.0402 34.5599 59.0402 39.8899C59.0402 45.2199 56.9702 50.22 53.2002 53.99C49.3102 57.88 44.2102 59.82 39.1002 59.82ZM39.1002 21.49C34.1802 21.49 29.5602 23.4 26.0902 26.88C22.6102 30.36 20.7002 34.9799 20.7002 39.8899C20.7002 44.7999 22.6102 49.43 26.0902 52.9C33.2602 60.07 44.9402 60.07 52.1102 52.9C55.5902 49.42 57.5002 44.7999 57.5002 39.8899C57.5002 34.9799 55.5902 30.35 52.1102 26.88C48.6302 23.4 44.0102 21.49 39.1002 21.49Z",
                fill="currentColor"
              )
              path(
                d="M52.6598 26.3402C45.1698 18.8502 33.0398 18.8502 25.5498 26.3402L52.6598 53.4502C60.1498 45.9602 60.1498 33.8302 52.6598 26.3402Z",
                fill="currentColor"
              )
              path(
                d="M58.53 60.0901C58.33 60.0901 58.14 60.0201 57.99 59.8701C57.69 59.5701 57.69 59.0901 57.99 58.7901C63.03 53.7501 65.81 47.0401 65.81 39.9101C65.81 32.7801 63.03 26.0701 57.99 21.0301C47.58 10.6201 30.63 10.6201 20.22 21.0301C19.92 21.3301 19.43 21.3301 19.14 21.0301C18.84 20.7301 18.84 20.2401 19.14 19.9501C30.15 8.94013 48.07 8.94013 59.08 19.9501C64.41 25.2801 67.35 32.3801 67.35 39.9201C67.35 47.4601 64.41 54.5501 59.08 59.8901C58.93 60.0401 58.73 60.1101 58.54 60.1101L58.53 60.0901Z",
                fill="currentColor"
              )
              path(
                d="M9.92977 10.7298C6.54977 7.34981 0.759766 9.73981 0.759766 14.5298V1.55981L9.92977 10.7298Z",
                fill="currentColor"
              )
              path(
                d="M0.77 15.2899C0.35 15.2899 0 14.9499 0 14.5199V1.55993C0 1.24993 0.19 0.969926 0.47 0.849926C0.76 0.729926 1.09 0.789926 1.31 1.01993L10.48 10.1899C10.78 10.4899 10.78 10.9699 10.48 11.2699C10.18 11.5699 9.7 11.5699 9.4 11.2699C8.06 9.92993 6.13 9.54993 4.38 10.2699C2.63 10.9999 1.54 12.6299 1.54 14.5199C1.54 14.9399 1.2 15.2899 0.77 15.2899ZM1.53 3.40993V10.4399C2.13 9.76993 2.89 9.21993 3.78 8.84993C4.67 8.47993 5.59 8.32993 6.5 8.37993L1.53 3.40993Z",
                fill="currentColor"
              )
              path(
                d="M68.2702 69.0601C71.6502 72.4401 69.2602 78.2301 64.4702 78.2301H77.4402L68.2702 69.0601Z",
                fill="currentColor"
              )
              path(
                d="M77.4402 79.0002H64.4702C64.0502 79.0002 63.7002 78.6602 63.7002 78.2302C63.7002 77.8002 64.0402 77.4602 64.4702 77.4602C66.3702 77.4602 68.0002 76.3702 68.7202 74.6202C69.4502 72.8702 69.0602 70.9502 67.7202 69.6002C67.4202 69.3002 67.4202 68.8102 67.7202 68.5102C68.0202 68.2102 68.5102 68.2102 68.8002 68.5102L77.9702 77.6802C78.1902 77.9002 78.2602 78.2302 78.1402 78.5202C78.0202 78.8102 77.7402 78.9902 77.4302 78.9902L77.4402 79.0002ZM68.5602 77.4602H75.5902L70.6202 72.4902C70.6702 73.3902 70.5102 74.3202 70.1502 75.2102C69.7802 76.1002 69.2402 76.8602 68.5602 77.4702V77.4602Z",
                fill="currentColor"
              )
          defs
            clipPath#clip0_211_219
              rect(
                width="78.21",
                height="78.21",
                fill="white",
                transform="translate(0 0.790039)"
              )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 transition-all duration-300 ~px-4/8 hover:bg-primary hover:text-muted-foreground sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h3(class="text-h3") Стремимся к&nbsp;новым вершинам, несмотря на&nbsp;трудности
        span(class="mt-auto ~h-[3rem]/[4.875rem] ~w-[3rem]/[4.875rem]")
          svg(
            width="100%",
            height="100%",
            viewbox="0 0 75 75",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            g(clip-path="url(#clip0_211_134)")
              path(
                d="M35.3799 74.8801C34.9599 74.8801 34.6099 74.5401 34.6099 74.1101V48.2301C34.6099 46.1301 33.7899 44.1601 32.3099 42.6701C30.8299 41.1901 28.8499 40.3701 26.7499 40.3701H0.879863C0.459863 40.3701 0.109863 40.0301 0.109863 39.6001C0.109863 39.1701 0.449863 38.8301 0.879863 38.8301H26.7599C29.2699 38.8301 31.6299 39.8101 33.3999 41.5801C35.1699 43.3501 36.1499 45.7101 36.1499 48.2201V74.1001C36.1499 74.5201 35.8099 74.8701 35.3799 74.8701V74.8801Z",
                fill="currentColor"
              )
              path(
                d="M0.769883 71.93C0.569883 71.93 0.379883 71.85 0.229883 71.71C-0.0701172 71.41 -0.0701172 70.92 0.229883 70.63L26.5199 44.34C26.8199 44.04 27.3099 44.04 27.5999 44.34C27.8999 44.64 27.8999 45.13 27.5999 45.42L1.30988 71.71C1.15988 71.86 0.959883 71.93 0.769883 71.93Z",
                fill="currentColor"
              )
              path(
                d="M73.7199 74.8801C73.2999 74.8801 72.9499 74.5401 72.9499 74.1101V48.2301C72.9499 46.1301 72.1299 44.1601 70.6499 42.6701C69.1599 41.1901 67.1899 40.3701 65.0899 40.3701H39.2099C38.7899 40.3701 38.4399 40.0301 38.4399 39.6001C38.4399 39.1701 38.7799 38.8301 39.2099 38.8301H65.0899C67.5999 38.8301 69.9599 39.8101 71.7299 41.5801C73.4999 43.3501 74.4799 45.7101 74.4799 48.2201V74.1001C74.4799 74.5201 74.1399 74.8701 73.7099 74.8701L73.7199 74.8801Z",
                fill="currentColor"
              )
              path(
                d="M39.1 71.93C38.9 71.93 38.71 71.85 38.56 71.71C38.26 71.41 38.26 70.92 38.56 70.63L64.85 44.34C65.15 44.04 65.63 44.04 65.93 44.34C66.23 44.64 66.23 45.13 65.93 45.42L39.64 71.72C39.49 71.87 39.29 71.94 39.1 71.94V71.93Z",
                fill="currentColor"
              )
              path(
                d="M73.7199 36.55C73.2999 36.55 72.9499 36.21 72.9499 35.78V9.9C72.9499 7.8 72.1299 5.83 70.6499 4.34C69.1599 2.86 67.1899 2.04 65.0899 2.04H39.2099C38.7899 2.04 38.4399 1.7 38.4399 1.27C38.4399 0.84 38.7799 0.5 39.2099 0.5H65.0899C67.5999 0.5 69.9599 1.48 71.7299 3.25C73.4999 5.03 74.4799 7.38 74.4799 9.89V35.77C74.4799 36.19 74.1399 36.54 73.7099 36.54L73.7199 36.55Z",
                fill="currentColor"
              )
              path(
                d="M39.1 33.5899C38.9 33.5899 38.71 33.5099 38.56 33.3699C38.26 33.0699 38.26 32.5799 38.56 32.2899L64.85 5.9999C65.15 5.6999 65.63 5.6999 65.93 5.9999C66.23 6.2999 66.23 6.7899 65.93 7.0799L39.64 33.3699C39.49 33.5199 39.29 33.5899 39.1 33.5899Z",
                fill="currentColor"
              )
              path(
                d="M35.3799 36.55C34.9599 36.55 34.6099 36.21 34.6099 35.78V9.90001C34.6099 7.80001 33.7899 5.83001 32.3099 4.34001C30.8299 2.86001 28.8499 2.04001 26.7499 2.04001H0.879863C0.459863 2.04001 0.109863 1.70001 0.109863 1.28001C0.109863 0.86001 0.449863 0.51001 0.879863 0.51001H26.7599C29.2699 0.51001 31.6299 1.49001 33.3999 3.26001C35.1699 5.04001 36.1499 7.39001 36.1499 9.90001V35.78C36.1499 36.2 35.8099 36.55 35.3799 36.55Z",
                fill="currentColor"
              )
              path(
                d="M0.769883 33.5899C0.569883 33.5899 0.379883 33.5099 0.229883 33.3699C-0.0701172 33.0699 -0.0701172 32.5799 0.229883 32.2899L26.5199 5.98989C26.8199 5.68989 27.3099 5.68989 27.5999 5.98989C27.8999 6.28989 27.8999 6.77989 27.5999 7.06989L1.30988 33.3699C1.15988 33.5199 0.959883 33.5899 0.769883 33.5899Z",
                fill="currentColor"
              )
              path(
                d="M3.82994 75C3.62994 75 3.43994 74.92 3.28994 74.78C2.98994 74.48 2.98994 73.9901 3.28994 73.7001L29.5799 47.4C29.8799 47.1 30.3699 47.1 30.6599 47.4C30.9599 47.7 30.9599 48.18 30.6599 48.49L4.36994 74.78C4.21994 74.93 4.01994 75 3.82994 75Z",
                fill="currentColor"
              )
              path(
                d="M42.1698 75C41.9698 75 41.7798 74.92 41.6298 74.78C41.3298 74.48 41.3298 73.9901 41.6298 73.7001L67.9298 47.4C68.2298 47.1 68.7098 47.1 69.0098 47.4C69.3098 47.7 69.3098 48.18 69.0098 48.49L42.7098 74.78C42.5598 74.93 42.3598 75 42.1698 75Z",
                fill="currentColor"
              )
              path(
                d="M42.1698 36.66C41.9698 36.66 41.7798 36.59 41.6298 36.44C41.3298 36.14 41.3298 35.66 41.6298 35.36L67.9298 9.06997C68.2298 8.76997 68.7098 8.76997 69.0098 9.06997C69.3098 9.36997 69.3098 9.85997 69.0098 10.15L42.7098 36.44C42.5598 36.59 42.3598 36.66 42.1698 36.66Z",
                fill="currentColor"
              )
              path(
                d="M3.82994 36.66C3.62994 36.66 3.43994 36.59 3.28994 36.44C2.98994 36.14 2.98994 35.66 3.28994 35.36L29.5899 9.05996C29.8899 8.75996 30.3799 8.75996 30.6699 9.05996C30.9699 9.35996 30.9699 9.84996 30.6699 10.14L4.37994 36.43C4.22994 36.58 4.02994 36.65 3.83994 36.65L3.82994 36.66Z",
                fill="currentColor"
              )
            defs
              clippath#clip0_211_134
                rect(
                  width="74.49",
                  height="74.49",
                  fill="white",
                  transform="translate(0 0.51001)"
                )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 transition-all duration-300 ~px-4/8 hover:bg-primary hover:text-muted-foreground sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h3(class="text-h3") Надёжный застройщик, не&nbsp;просто на&nbsp;словах
        span(class="mt-auto ~h-[3rem]/[4.875rem] ~w-[3rem]/[4.875rem]")
          svg(
            width="100%",
            height="100%",
            viewbox="0 0 79 79",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            g(clip-path="url(#clip0_211_208)")
              path(
                d="M39.1 79C28.66 79 18.84 74.93 11.45 67.55C4.07 60.16 0 50.34 0 39.89C0 29.44 4.07 19.63 11.45 12.24C18.84 4.86004 28.66 0.790039 39.1 0.790039C49.54 0.790039 59.37 4.86004 66.75 12.24C74.14 19.62 78.2 29.45 78.2 39.89C78.2 50.33 74.13 60.15 66.75 67.54C59.37 74.93 49.54 78.99 39.1 78.99V79ZM39.1 2.32004C29.06 2.32004 19.63 6.23004 12.53 13.32C5.44 20.42 1.53 29.86 1.53 39.89C1.53 49.92 5.44 59.36 12.53 66.46C19.63 73.56 29.06 77.46 39.1 77.46C49.14 77.46 58.57 73.55 65.67 66.46C72.77 59.36 76.67 49.93 76.67 39.89C76.67 29.85 72.76 20.42 65.67 13.32C58.58 6.22004 49.14 2.32004 39.1 2.32004Z",
                fill="currentColor"
              )
              path(
                d="M77.4399 79C77.2399 79 77.0499 78.92 76.8999 78.78L0.219941 2.09998C-0.0700586 1.79998 -0.0700586 1.30998 0.219941 1.00998C0.519941 0.71998 1.00994 0.71998 1.30994 1.00998L77.9799 77.68C78.2799 77.98 78.2799 78.47 77.9799 78.77C77.8299 78.92 77.6299 78.99 77.4399 78.99V79Z",
                fill="currentColor"
              )
              path(
                d="M47.6299 49.1901C47.4299 49.1901 47.2399 49.1101 47.0899 48.9701C46.7899 48.6701 46.7899 48.1901 47.0899 47.8901C49.2199 45.7601 50.3999 42.9201 50.3999 39.9001C50.3999 36.8801 49.2199 34.0401 47.0899 31.9101C44.9599 29.7801 42.1199 28.6001 39.0999 28.6001C36.0799 28.6001 33.2499 29.7701 31.1099 31.9101C30.8099 32.2101 30.3199 32.2101 30.0199 31.9101C29.7199 31.6101 29.7199 31.1201 30.0199 30.8301C32.4399 28.4101 35.6699 27.0701 39.0899 27.0701C42.5099 27.0701 45.7399 28.4001 48.1599 30.8301C50.5799 33.2501 51.9199 36.4701 51.9199 39.9001C51.9199 43.3301 50.5899 46.5501 48.1599 48.9701C48.0099 49.1201 47.8099 49.1901 47.6199 49.1901H47.6299Z",
                fill="currentColor"
              )
              path(
                d="M18.1002 18.89L11.9902 12.78C9.76018 15.01 7.80018 17.52 6.18018 20.25C8.75018 16.05 14.6102 15.4 18.1002 18.89Z",
                fill="currentColor"
              )
              path(
                d="M6.18009 21.0201C6.05009 21.0201 5.91009 20.9801 5.78009 20.9101C5.42009 20.6901 5.30009 20.2201 5.52009 19.8601C7.18009 17.0801 9.18009 14.5201 11.4501 12.2501C11.7501 11.9501 12.2401 11.9501 12.5301 12.2501L18.6401 18.3601C18.9401 18.6601 18.9401 19.1501 18.6401 19.4401C18.3401 19.7401 17.8501 19.7401 17.5501 19.4401C16.0401 17.9301 13.9501 17.2101 11.8301 17.4601C9.74009 17.7101 7.91009 18.8701 6.82009 20.6601C6.68009 20.9001 6.42009 21.0301 6.16009 21.0301L6.18009 21.0201ZM12.0001 13.8801C11.2401 14.6801 10.5101 15.5101 9.81009 16.3701C10.4001 16.1601 11.0201 16.0201 11.6601 15.9401C12.4901 15.8401 13.3201 15.8701 14.1201 16.0001L12.0001 13.8801Z",
                fill="currentColor"
              )
              path(
                d="M60.0997 60.8899L66.2097 66.9999C63.9797 69.2299 61.4697 71.1899 58.7397 72.8099C62.9397 70.2399 63.5897 64.3799 60.0997 60.8899Z",
                fill="currentColor"
              )
              path(
                d="M58.7499 73.58C58.4899 73.58 58.2399 73.45 58.0899 73.21C57.8699 72.85 57.9899 72.38 58.3499 72.16C60.1299 71.07 61.2999 69.24 61.5499 67.15C61.7999 65.03 61.0799 62.94 59.5699 61.43C59.2699 61.13 59.2699 60.65 59.5699 60.35C59.8699 60.05 60.3599 60.05 60.6499 60.35L66.7599 66.46C66.8999 66.6 66.9799 66.8 66.9799 67C66.9799 67.2 66.8999 67.4 66.7599 67.54C64.4899 69.81 61.9199 71.81 59.1399 73.47C59.0199 73.54 58.8799 73.58 58.7499 73.58ZM62.9999 64.88C63.1399 65.68 63.1599 66.51 63.0599 67.34C62.9799 67.98 62.8399 68.6 62.6299 69.19C63.4899 68.5 64.3199 67.77 65.1199 67L62.9999 64.88Z",
                fill="currentColor"
              )
              path(
                d="M39.0998 62.61C33.2798 62.61 27.4598 60.39 23.0298 55.96C14.1698 47.1 14.1698 32.68 23.0298 23.82C23.3198 23.53 23.8298 23.53 24.1098 23.82L55.1698 54.88C55.3098 55.02 55.3898 55.22 55.3898 55.42C55.3898 55.62 55.3098 55.82 55.1698 55.96C50.7398 60.39 44.9198 62.61 39.0998 62.61ZM23.5898 25.46C15.8598 33.76 16.0398 46.8 24.1198 54.88C32.1998 62.96 45.2398 63.14 53.5398 55.41L23.5898 25.46Z",
                fill="currentColor"
              )
            defs
              clippath#clip0_211_208
                rect(
                  width="78.21",
                  height="78.21",
                  fill="white",
                  transform="translate(0 0.790039)"
                )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 transition-all duration-300 ~px-4/8 hover:bg-primary hover:text-muted-foreground sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h3(class="text-h3") Не&nbsp;хотим экономить на&nbsp;материалах
        span(class="mt-auto ~h-[3rem]/[4.875rem] ~w-[3rem]/[4.875rem]")
          svg(
            width="100%",
            height="100%",
            viewbox="0 0 79 79",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            g(clip-path="url(#clip0_211_233)")
              path(
                d="M0.769766 68.6501V78.2301H10.3498C7.69977 78.2301 5.30977 77.1601 3.56977 75.4201C1.82977 73.6901 0.759766 71.2901 0.759766 68.6401L0.769766 68.6501Z",
                fill="currentColor"
              )
              path(
                d="M10.35 79.0001H0.77C0.35 79.0001 0 78.6601 0 78.2301V68.6501C0 68.2301 0.34 67.8801 0.77 67.8801C1.2 67.8801 1.54 68.2201 1.54 68.6501C1.54 71.0101 2.46 73.2201 4.12 74.8801C5.79 76.5501 8 77.4601 10.35 77.4601C10.77 77.4601 11.12 77.8001 11.12 78.2301C11.12 78.6601 10.78 79.0001 10.35 79.0001ZM1.53 77.4601H4.92C4.24 77.0401 3.61 76.5401 3.03 75.9601C2.45 75.3801 1.95 74.7501 1.53 74.0701V77.4601Z",
                fill="currentColor"
              )
              path(
                d="M77.44 79H0.77C0.35 79 0 78.66 0 78.23C0 77.8 0.34 77.46 0.77 77.46H77.44C77.86 77.46 78.21 77.8 78.21 78.23C78.21 78.66 77.87 79 77.44 79Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 68.6501V59.0701H10.3498C7.69977 59.0701 5.30977 60.1401 3.56977 61.8801C1.82977 63.6101 0.759766 66.0101 0.759766 68.6601L0.769766 68.6501Z",
                fill="currentColor"
              )
              path(
                d="M0.77 69.41C0.35 69.41 0 69.07 0 68.64V59.06C0 58.64 0.34 58.29 0.77 58.29H10.35C10.77 58.29 11.12 58.63 11.12 59.06C11.12 59.49 10.78 59.83 10.35 59.83C7.99 59.83 5.78 60.75 4.12 62.41C2.46 64.08 1.54 66.29 1.54 68.64C1.54 69.06 1.2 69.41 0.77 69.41ZM1.53 59.83V63.22C1.95 62.54 2.45 61.91 3.03 61.33C3.61 60.75 4.24 60.25 4.92 59.83H1.53Z",
                fill="currentColor"
              )
              path(
                d="M77.44 59.83H0.77C0.35 59.83 0 59.49 0 59.06C0 58.63 0.34 58.29 0.77 58.29H77.44C77.86 58.29 78.21 58.63 78.21 59.06C78.21 59.49 77.87 59.83 77.44 59.83Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 49.48V59.06H10.3498C7.69977 59.06 5.30977 57.99 3.56977 56.25C1.82977 54.52 0.759766 52.12 0.759766 49.47L0.769766 49.48Z",
                fill="currentColor"
              )
              path(
                d="M10.35 59.83H0.77C0.35 59.83 0 59.49 0 59.06V49.48C0 49.06 0.34 48.71 0.77 48.71C1.2 48.71 1.54 49.05 1.54 49.48C1.54 51.84 2.46 54.05 4.12 55.71C5.79 57.37 8 58.29 10.35 58.29C10.77 58.29 11.12 58.63 11.12 59.06C11.12 59.49 10.78 59.83 10.35 59.83ZM1.53 58.29H4.92C4.24 57.87 3.61 57.37 3.03 56.79C2.45 56.21 1.95 55.58 1.53 54.9V58.29Z",
                fill="currentColor"
              )
              path(
                d="M77.44 59.83H0.77C0.35 59.83 0 59.49 0 59.06C0 58.63 0.34 58.29 0.77 58.29H77.44C77.86 58.29 78.21 58.63 78.21 59.06C78.21 59.49 77.87 59.83 77.44 59.83Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 49.4801V39.9001H10.3498C7.69977 39.9001 5.30977 40.9701 3.56977 42.7101C1.82977 44.4401 0.759766 46.8401 0.759766 49.4901L0.769766 49.4801Z",
                fill="currentColor"
              )
              path(
                d="M0.77 50.2501C0.35 50.2501 0 49.9101 0 49.4801V39.9001C0 39.4801 0.34 39.1301 0.77 39.1301H10.35C10.77 39.1301 11.12 39.4701 11.12 39.9001C11.12 40.3301 10.78 40.6701 10.35 40.6701C7.99 40.6701 5.78 41.5901 4.12 43.2501C2.46 44.9201 1.54 47.1301 1.54 49.4901C1.54 49.9101 1.2 50.2601 0.77 50.2601V50.2501ZM1.53 40.6601V44.0501C1.95 43.3701 2.45 42.7401 3.03 42.1601C3.61 41.5801 4.24 41.0801 4.92 40.6601H1.53Z",
                fill="currentColor"
              )
              path(
                d="M77.44 40.6601H0.77C0.35 40.6601 0 40.3201 0 39.8901C0 39.4601 0.34 39.1201 0.77 39.1201H77.44C77.86 39.1201 78.21 39.4601 78.21 39.8901C78.21 40.3201 77.87 40.6601 77.44 40.6601Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 30.3101V39.9001H10.3498C7.69977 39.9001 5.30977 38.8301 3.56977 37.0901C1.82977 35.3601 0.759766 32.9601 0.759766 30.3101H0.769766Z",
                fill="currentColor"
              )
              path(
                d="M10.35 40.66H0.77C0.35 40.66 0 40.32 0 39.89V30.3C0 29.88 0.34 29.53 0.77 29.53C1.2 29.53 1.54 29.87 1.54 30.3C1.54 32.66 2.46 34.87 4.12 36.54C5.79 38.2 8 39.12 10.35 39.12C10.77 39.12 11.12 39.46 11.12 39.89C11.12 40.32 10.78 40.66 10.35 40.66ZM1.53 39.13H4.92C4.24 38.71 3.61 38.21 3.03 37.63C2.45 37.05 1.95 36.42 1.53 35.74V39.13Z",
                fill="currentColor"
              )
              path(
                d="M77.44 40.6601H0.77C0.35 40.6601 0 40.3201 0 39.8901C0 39.4601 0.34 39.1201 0.77 39.1201H77.44C77.86 39.1201 78.21 39.4601 78.21 39.8901C78.21 40.3201 77.87 40.6601 77.44 40.6601Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 30.31V20.73H10.3498C7.69977 20.73 5.30977 21.8 3.56977 23.54C1.82977 25.27 0.759766 27.67 0.759766 30.32L0.769766 30.31Z",
                fill="currentColor"
              )
              path(
                d="M0.77 31.08C0.35 31.08 0 30.74 0 30.31V20.73C0 20.31 0.34 19.96 0.77 19.96H10.35C10.77 19.96 11.12 20.3 11.12 20.73C11.12 21.16 10.78 21.5 10.35 21.5C7.99 21.5 5.78 22.42 4.12 24.08C2.46 25.75 1.54 27.96 1.54 30.31C1.54 30.73 1.2 31.08 0.77 31.08ZM1.53 21.49V24.88C1.95 24.2 2.45 23.57 3.03 22.99C3.61 22.41 4.24 21.91 4.92 21.49H1.53Z",
                fill="currentColor"
              )
              path(
                d="M77.44 21.49H0.77C0.35 21.49 0 21.15 0 20.72C0 20.29 0.34 19.95 0.77 19.95H77.44C77.86 19.95 78.21 20.29 78.21 20.72C78.21 21.15 77.87 21.49 77.44 21.49Z",
                fill="currentColor"
              )
              path(
                d="M0.769766 11.1401V20.7201H10.3498C7.69977 20.7201 5.30977 19.6501 3.56977 17.9101C1.82977 16.1801 0.759766 13.7801 0.759766 11.1301L0.769766 11.1401Z",
                fill="currentColor"
              )
              path(
                d="M10.35 21.4901H0.77C0.35 21.4901 0 21.1501 0 20.7201V11.1401C0 10.7201 0.34 10.3701 0.77 10.3701C1.2 10.3701 1.54 10.7101 1.54 11.1401C1.54 13.5001 2.46 15.7101 4.12 17.3801C5.79 19.0401 8 19.9601 10.35 19.9601C10.77 19.9601 11.12 20.3001 11.12 20.7301C11.12 21.1601 10.78 21.5001 10.35 21.5001V21.4901ZM1.53 19.9601H4.92C4.24 19.5401 3.61 19.0401 3.03 18.4601C2.45 17.8801 1.95 17.2501 1.53 16.5701V19.9601Z",
                fill="currentColor"
              )
              path(
                d="M77.44 21.49H0.77C0.35 21.49 0 21.15 0 20.72C0 20.29 0.34 19.95 0.77 19.95H77.44C77.86 19.95 78.21 20.29 78.21 20.72C78.21 21.15 77.87 21.49 77.44 21.49Z",
                fill="currentColor"
              )
              path(
                d="M0.77002 11.1401V1.56006H10.35C7.70002 1.56006 5.31002 2.63006 3.57002 4.37006C1.84002 6.10006 0.77002 8.49006 0.77002 11.1401Z",
                fill="currentColor"
              )
              path(
                d="M0.77 11.91C0.35 11.91 0 11.57 0 11.14V1.56004C0 1.14004 0.34 0.790039 0.77 0.790039H10.35C10.77 0.790039 11.12 1.13004 11.12 1.56004C11.12 1.99004 10.78 2.33004 10.35 2.33004C7.99 2.33004 5.78 3.25004 4.12 4.91004C2.46 6.58004 1.54 8.79004 1.54 11.15C1.54 11.57 1.2 11.92 0.77 11.92V11.91ZM1.53 2.32004V5.71004C1.95 5.03004 2.45 4.40004 3.03 3.82004C3.61 3.24004 4.24 2.74004 4.92 2.32004H1.53Z",
                fill="currentColor"
              )
              path(
                d="M77.44 2.32003H0.77C0.35 2.32003 0 1.98003 0 1.55003C0 1.12003 0.34 0.780029 0.77 0.780029H77.44C77.86 0.780029 78.21 1.12003 78.21 1.55003C78.21 1.98003 77.87 2.32003 77.44 2.32003Z",
                fill="currentColor"
              )
              path(
                d="M39.0901 49.48V59.06H48.6701C46.0201 59.06 43.6301 57.99 41.8901 56.25C40.1601 54.52 39.0801 52.12 39.0801 49.47L39.0901 49.48Z",
                fill="currentColor"
              )
              path(
                d="M48.6801 59.83H39.1001C38.6801 59.83 38.3301 59.49 38.3301 59.06V49.48C38.3301 49.06 38.6701 48.71 39.1001 48.71C39.5301 48.71 39.8701 49.05 39.8701 49.48C39.8701 51.84 40.7901 54.05 42.4501 55.71C44.1201 57.37 46.3301 58.29 48.6901 58.29C49.1101 58.29 49.4601 58.63 49.4601 59.06C49.4601 59.49 49.1201 59.83 48.6901 59.83H48.6801ZM39.8601 58.29H43.2501C42.5701 57.87 41.9401 57.37 41.3601 56.79C40.7801 56.21 40.2801 55.58 39.8601 54.9V58.29Z",
                fill="currentColor"
              )
              path(
                d="M39.0896 49.4801V39.9001H48.6696C46.0196 39.9001 43.6296 40.9701 41.8896 42.7101C40.1596 44.4401 39.0796 46.8401 39.0796 49.4901L39.0896 49.4801Z",
                fill="currentColor"
              )
              path(
                d="M39.0898 50.2501C38.6698 50.2501 38.3198 49.9101 38.3198 49.4801V39.9001C38.3198 39.4801 38.6598 39.1301 39.0898 39.1301H48.6698C49.0898 39.1301 49.4398 39.4701 49.4398 39.9001C49.4398 40.3301 49.0998 40.6701 48.6698 40.6701C46.3098 40.6701 44.0998 41.5901 42.4298 43.2501C40.7598 44.9201 39.8498 47.1301 39.8498 49.4901C39.8498 49.9101 39.5098 50.2601 39.0798 50.2601L39.0898 50.2501ZM39.8598 40.6601V44.0501C40.2798 43.3701 40.7798 42.7401 41.3598 42.1601C41.9398 41.5801 42.5698 41.0801 43.2498 40.6601H39.8598Z",
                fill="currentColor"
              )
              path(
                d="M39.0896 11.1401V20.7201H48.6696C46.0196 20.7201 43.6296 19.6501 41.8896 17.9101C40.1596 16.1801 39.0796 13.7801 39.0796 11.1301L39.0896 11.1401Z",
                fill="currentColor"
              )
              path(
                d="M48.6796 21.4901H39.0996C38.6796 21.4901 38.3296 21.1501 38.3296 20.7201V11.1401C38.3296 10.7201 38.6696 10.3701 39.0996 10.3701C39.5296 10.3701 39.8696 10.7101 39.8696 11.1401C39.8696 13.5001 40.7896 15.7101 42.4496 17.3801C44.1196 19.0401 46.3296 19.9601 48.6896 19.9601C49.1096 19.9601 49.4596 20.3001 49.4596 20.7301C49.4596 21.1601 49.1196 21.5001 48.6896 21.5001L48.6796 21.4901ZM39.8596 19.9601H43.2496C42.5696 19.5401 41.9396 19.0401 41.3596 18.4601C40.7796 17.8801 40.2796 17.2501 39.8596 16.5701V19.9601Z",
                fill="currentColor"
              )
              path(
                d="M39.0896 11.1401V1.56006H48.6696C46.0196 1.56006 43.6296 2.63006 41.8896 4.37006C40.1596 6.10006 39.0796 8.50006 39.0796 11.1501L39.0896 11.1401Z",
                fill="currentColor"
              )
              path(
                d="M39.0898 11.91C38.6698 11.91 38.3198 11.57 38.3198 11.14V1.56004C38.3198 1.14004 38.6598 0.790039 39.0898 0.790039H48.6698C49.0898 0.790039 49.4398 1.13004 49.4398 1.56004C49.4398 1.99004 49.0998 2.33004 48.6698 2.33004C46.3098 2.33004 44.0998 3.25004 42.4298 4.91004C40.7598 6.58004 39.8498 8.79004 39.8498 11.15C39.8498 11.57 39.5098 11.92 39.0798 11.92L39.0898 11.91ZM39.8598 2.32004V5.71004C40.2798 5.03004 40.7798 4.40004 41.3598 3.82004C41.9398 3.24004 42.5698 2.74004 43.2498 2.32004H39.8598Z",
                fill="currentColor"
              )
            defs
              clippath#clip0_211_233
                rect(
                  width="78.21",
                  height="78.21",
                  fill="white",
                  transform="translate(0 0.790039)"
                )
