include ../button

mixin contact-form
  section(class="col-span-full !mt-[7.5rem] grid grid-cols-subgrid")&attributes(attributes)
    div(class="col-[main] grid grid-cols-subgrid items-end gap-y-2 ~mb-8/12 sm:gap-x-4")
      h2(
        class="col-span-full text-h2 font-medium text-brand sm:col-[span_12] md:col-span-10"
      ) Возникли вопросы или&nbsp;предложения?
    form(
      action="/",
      method="POST",
      novalidate="",
      class="col-[main] grid grid-cols-subgrid"
    )
      div(
        class="col-span-full flex flex-col justify-between gap-y-3 ~md:~gap-x-4/12 md:flex-row"
      )
        div(class="flex-1", data-form-control="")
          input(
            type="text",
            placeholder="Ваше имя",
            required="",
            name="name",
            pattern="[А-ЯЁа-яё ]{2,}",
            data-pattern-text="Введите имя минимум из 2 букв кириллицей",
            class="peer h-16 w-full rounded-none border border-muted-background px-6 placeholder:text-muted-background focus:outline-none"
          )
          p(
            class="text-red-500 peer-aria-[invalid=true]:mt-2",
            data-form-control-message=""
          ) 
        div(class="flex-1", data-form-control="")
          input(
            type="tel",
            placeholder="Номер телефона",
            required="",
            name="tel",
            pattern="\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}",
            data-pattern-text="Перепроверьте правильность номера телефона, мы позвоним на него",
            class="peer h-16 w-full rounded-none border border-muted-background px-6 placeholder:text-muted-background focus:outline-none"
          )
          p(
            class="text-red-500 peer-aria-[invalid=true]:mt-2",
            data-form-control-message=""
          ) 
        +button("default", "default")(type="submit") Оставить заявку
      p(
        class="col-span-full mt-4 text-muted-background md:col-[span_18] md2:col-span-12"
      ) При нажатии на&nbsp;кнопку &laquo;Оставить заявку&raquo; вы&nbsp;соглашаетесь с&nbsp;нашей политикой обработки персональных данных
