mixin facility-table-details
  section(class="col-span-full grid grid-cols-subgrid")
    div(class="col-[main] grid grid-cols-subgrid items-end gap-y-2 ~mb-8/12 sm:gap-x-4")
      h2(
        class="col-span-full text-h2 font-medium text-brand sm:col-[span_12] md:col-span-10"
      ) Коммерция в Доме на Кленова
    div(
      class="col-[main] grid max-w-full grid-cols-[minmax(25rem,2fr)_0.6fr_0.6fr_1fr] overflow-auto"
    )
      div(class="col-span-full grid grid-cols-subgrid bg-muted text-white")
        p(class="px-7 py-4") Помещение
        p(class="px-7 py-4") Площадь
        p(class="px-7 py-4") Стоимость
      div(
        class="col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted"
      )
        p(class="px-7 py-4") Помещение свободного назначения №213
        p(class="px-7 py-4") 213 м²
        p(class="px-7 py-4") 1200 ₽/м²
        button(
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          type="button"
        ) Оставить заявку
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted",
        aria-disabled="true"
      )
        p(class="px-7 py-4") Коммерческое помещение с арендатором №1
        p(class="px-7 py-4") 342 м²
        p(class="px-7 py-4") 2200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          disabled=""
        ) Арендовано
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted"
      )
        p(class="px-7 py-4") Помещение свободного назначения №213
        p(class="px-7 py-4") 213 м²
        p(class="px-7 py-4") 1200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted"
        ) Оставить заявку
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted",
        aria-disabled="true"
      )
        p(class="px-7 py-4") Коммерческое помещение с арендатором №1
        p(class="px-7 py-4") 342 м²
        p(class="px-7 py-4") 2200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          disabled=""
        ) Арендовано
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted",
        aria-disabled="true"
      )
        p(class="px-7 py-4") Помещение свободного назначения №213
        p(class="px-7 py-4") 213 м²
        p(class="px-7 py-4") 1200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          disabled=""
        ) Арендовано
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted",
        aria-disabled="true"
      )
        p(class="px-7 py-4") Коммерческое помещение с арендатором №1
        p(class="px-7 py-4") 342 м²
        p(class="px-7 py-4") 2200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          disabled=""
        ) Арендовано
      div(
        class="group col-span-full grid grid-cols-subgrid border-b border-muted-background text-brand aria-disabled:text-muted",
        aria-disabled="true"
      )
        p(class="px-7 py-4") Помещение свободного назначения №213
        p(class="px-7 py-4") 213 м²
        p(class="px-7 py-4") 1200 ₽/м²
        button(
          type="button",
          class="inline-flex px-7 py-4 text-secondary group-aria-disabled:text-muted",
          disabled=""
        ) Арендовано
