mixin facility-hero
  section(class="col-span-full grid min-h-[min(calc(100svh-5rem))] grid-cols-subgrid")
    div(
      class="relative col-span-full grid min-h-[30rem] auto-rows-max grid-cols-subgrid grid-rows-[auto_auto_1fr] ~pt-[2rem]/[3.25rem] md2:col-[span_17] md2:min-h-0"
    )
      img(
        class="absolute inset-0 -z-[1] h-full w-full object-cover brightness-[.55]",
        data-lazy-img="assets/img/facility-hero.webp",
        src="",
        alt=""
      )
      h1(class="col-[2/-2] text-title uppercase text-text-foreground") Коммерческие помещения
      p(
        class="col-[2/-2] mt-2 text-basicL text-text-foreground sm:col-[2/span_15] md2:col-[2/span_9]"
      ) Помещения свободного назначения чтобы рубить бабосики как у&nbsp;Христа за&nbsp;пазухой, но&nbsp;у&nbsp;нас
      div(class="col-span-full mt-[3.25rem] self-end")
        a(href="#", class="button button--lg ~px-4/12") Выбрать помещение
    div(
      class="col-span-full grid min-h-[22.5rem] auto-rows-max grid-rows-[auto_auto_1fr] bg-muted-foreground text-brand ~px-4/12 ~py-[2rem]/[3.25rem] md2:col-[span_9/-1]"
    )
      h2(class="max-w-96 text-h2") Выгодные условия для юр.лиц
      p(class="mt-2 max-w-72 text-basicS") Кредиты, рассрочки, коллекторы&nbsp;&mdash; всё, чтобы ваш бизнес работал на&nbsp;нас
      footer(
        class="col-span-full row-start-4 space-y-2 self-end pt-8 text-basicS text-brand"
      )
        p СЗ Депо. ©
        p Дома. Единство. Простор. Открытость.
