include ../breadcrumbs

mixin project-about
  section(class="col-span-full grid grid-cols-subgrid items-center")&attributes(attributes)
    +breadcrumbs([{href: "/", label: "Главная"}, {href: "projects.html", label: "Проекты"}], "Дом на Кленова")(
      class="col-[main] mb-12"
    )
    h1(class="col-[main] mb-8 text-h1 text-brand md2:col-[main/span_8] md2:mb-0") Дом за&nbsp;который, не&nbsp;кринжово
    p(class="col-[main] text-basicL text-brand md2:col-[span_12/main]") Дом на&nbsp;Кленова&nbsp;&mdash; это уникальная возможность дышать свежим воздухом, наслаждаться прекрасными видами из&nbsp;окна на&nbsp;сквер, городские пейзажи. Для этого достаточно просто открыть окно своей квартиры, без надобности выезжать за&nbsp;пределы города.
    div(class="col-span-full mt-12 grid grid-cols-subgrid gap-4 sm:col-[main] sm:gap-5")
      div(
        class="relative col-span-full bg-muted-foreground ~h-[17.5rem]/[25rem] sm:col-span-12"
      )
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
      div(
        class="relative col-span-full flex flex-col bg-muted-foreground py-6 ~h-[17.5rem]/[25rem] ~px-4/8 sm:col-span-12"
      )
        h3(class="text-h3") Собственная инфрастуктура внутри комплекса
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 ~px-4/8 after:absolute after:inset-0 after:bg-brand/50 after:content-[''] sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h4(class="relative z-10 text-h4 text-text-foreground") Опережаем сроки строительства
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 ~px-4/8 after:absolute after:inset-0 after:bg-brand/50 after:content-[''] sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h4(class="relative z-10 text-h4 text-text-foreground") Двор без машин, только вертолеты
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 ~px-4/8 after:absolute after:inset-0 after:bg-brand/50 after:content-[''] sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h4(class="relative z-10 text-h4 text-text-foreground") 4 минуты до центра пешком
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
      div(
        class="relative col-span-full flex h-[12.5rem] flex-col bg-muted-foreground py-6 ~px-4/8 after:absolute after:inset-0 after:bg-brand/50 after:content-[''] sm:col-span-12 sm:~h-[17.5rem]/[25rem] xl:col-span-6"
      )
        h4(class="relative z-10 text-h4 text-text-foreground") Храм прямо в подъезде
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/house-2.webp",
          src="",
          alt=""
        )
