mixin project-blueprints
  section(class="col-span-full grid grid-cols-subgrid")&attributes(attributes)
    div(class="col-[main] grid grid-cols-subgrid items-end gap-y-2 ~mb-8/12 sm:gap-x-4")
      h2(
        class="col-span-full text-h2 font-medium text-brand sm:col-[span_12] md:col-span-10"
      ) Планировочные решения
    div(class="col-span-full grid grid-cols-subgrid")
      div(class="swiper col-[main] m-0 h-[3.5rem]", data-project-blueprints-thumbs="")
        div(class="swiper-wrapper [&_.swiper-slide:not(:last-child)]:border-r-0")
          button(
            type="button",
            class="swiper-slide w-[5rem] shrink-0 border border-secondary focus:outline-none focus-visible:ring focus-visible:ring-primary [&.swiper-slide-thumb-active]:border-brand [&.swiper-slide-thumb-active]:bg-brand [&.swiper-slide-thumb-active]:text-white"
          ) С
          button(
            type="button",
            class="swiper-slide w-[5rem] shrink-0 border border-secondary focus:outline-none focus-visible:ring focus-visible:ring-primary [&.swiper-slide-thumb-active]:border-brand [&.swiper-slide-thumb-active]:bg-brand [&.swiper-slide-thumb-active]:text-white"
          ) 1К
          button(
            type="button",
            class="swiper-slide w-[5rem] shrink-0 border border-secondary focus:outline-none focus-visible:ring focus-visible:ring-primary [&.swiper-slide-thumb-active]:border-brand [&.swiper-slide-thumb-active]:bg-brand [&.swiper-slide-thumb-active]:text-white"
          ) 2К
          button(
            type="button",
            class="swiper-slide w-[5rem] shrink-0 border border-secondary focus:outline-none focus-visible:ring focus-visible:ring-primary [&.swiper-slide-thumb-active]:border-brand [&.swiper-slide-thumb-active]:bg-brand [&.swiper-slide-thumb-active]:text-white"
          ) 3К
      div(
        class="swiper col-span-full mt-9 w-full",
        data-project-blueprints-tab-slider=""
      )
        div(class="swiper-wrapper")
          div(class="swiper-slide main-container")
            div(class="col-[main] grid grid-cols-subgrid")
              div(
                class="swiper relative col-span-full w-full md2:col-span-11",
                data-project-blueprints-slider=""
              )
                div(class="swiper-wrapper")
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                div(class="absolute bottom-0 left-0 z-10 flex")
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-prev disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16",
                    disabled=""
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M9.53674e-07 10.4591V15.5409L16 26V21.0955L3.28572 13L16 4.90455V0L9.53674e-07 10.4591Z",
                        fill="currentColor"
                      )
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-next disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16"
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M16 10.4591V15.5409L0 26V21.0955L12.7143 13L0 4.90455V0L16 10.4591Z",
                        fill="currentColor"
                      )
              div(class="col-span-full mt-9 md2:col-[span_11/-1] md2:mt-0")
                div(class="flex items-baseline gap-x-6 gap-y-3")
                  h3(class="flex-1 text-h3") Студии
                  span(class="text-h4 text-secondary") от 6 354 234 ₽
                ul(class="text-basicL ~mt-10/12 ~space-y-4/6")
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Блок-секция
                    span 1,2,3,4,5
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Этаж
                    span 1-6, 12
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Площадь
                    span 16.9 – 19.1 м²
                div(
                  class="flex flex-col gap-x-7 gap-y-4 ~mt-12/[5rem] min-[36.25rem]:flex-row min-[36.25rem]:items-center"
                )
                  a(href="#", class="button text-center") Заказать звонок
                  a(href="apartments.html", class="button button--outlined text-center") Выбрать квартиру
          div(class="swiper-slide main-container")
            div(class="col-[main] grid grid-cols-subgrid")
              div(
                class="swiper relative col-span-full w-full md2:col-span-11",
                data-project-blueprints-slider=""
              )
                div(class="swiper-wrapper")
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                div(class="absolute bottom-0 left-0 z-10 flex")
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-prev disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16",
                    disabled=""
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M9.53674e-07 10.4591V15.5409L16 26V21.0955L3.28572 13L16 4.90455V0L9.53674e-07 10.4591Z",
                        fill="currentColor"
                      )
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-next disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16"
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M16 10.4591V15.5409L0 26V21.0955L12.7143 13L0 4.90455V0L16 10.4591Z",
                        fill="currentColor"
                      )
              div(class="col-span-full mt-9 md2:col-[span_11/-1] md2:mt-0")
                div(class="flex items-baseline gap-x-6 gap-y-3")
                  h3(class="flex-1 text-h3") 1-комнатные
                  span(class="text-h4 text-secondary") от 6 354 234 ₽
                ul(class="text-basicL ~mt-10/12 ~space-y-4/6")
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Блок-секция
                    span 1,2,3,4,5
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Этаж
                    span 1-6, 12
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Площадь
                    span 16.9 – 19.1 м²
                div(
                  class="flex flex-col gap-x-7 gap-y-4 ~mt-12/[5rem] min-[36.25rem]:flex-row min-[36.25rem]:items-center"
                )
                  a(href="#", class="button text-center") Заказать звонок
                  a(href="apartments.html", class="button button--outlined text-center") Выбрать квартиру
          div(class="swiper-slide main-container")
            div(class="col-[main] grid grid-cols-subgrid")
              div(
                class="swiper relative col-span-full w-full md2:col-span-11",
                data-project-blueprints-slider=""
              )
                div(class="swiper-wrapper")
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                div(class="absolute bottom-0 left-0 z-10 flex")
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-prev disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16",
                    disabled=""
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M9.53674e-07 10.4591V15.5409L16 26V21.0955L3.28572 13L16 4.90455V0L9.53674e-07 10.4591Z",
                        fill="currentColor"
                      )
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-next disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16"
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M16 10.4591V15.5409L0 26V21.0955L12.7143 13L0 4.90455V0L16 10.4591Z",
                        fill="currentColor"
                      )
              div(class="col-span-full mt-9 md2:col-[span_11/-1] md2:mt-0")
                div(class="flex items-baseline gap-x-6 gap-y-3")
                  h3(class="flex-1 text-h3") 2-комнатные
                  span(class="text-h4 text-secondary") от 6 354 234 ₽
                ul(class="text-basicL ~mt-10/12 ~space-y-4/6")
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Блок-секция
                    span 1,2,3,4,5
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Этаж
                    span 1-6, 12
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Площадь
                    span 16.9 – 19.1 м²
                div(
                  class="flex flex-col gap-x-7 gap-y-4 ~mt-12/[5rem] min-[36.25rem]:flex-row min-[36.25rem]:items-center"
                )
                  a(href="#", class="button text-center") Заказать звонок
                  a(href="apartments.html", class="button button--outlined text-center") Выбрать квартиру
          div(class="swiper-slide main-container")
            div(class="col-[main] grid grid-cols-subgrid")
              div(
                class="swiper relative col-span-full w-full md2:col-span-11",
                data-project-blueprints-slider=""
              )
                div(class="swiper-wrapper")
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                  div(class="swiper-slide relative ~h-[23rem]/[32.5rem]")
                    img(
                      class="absolute inset-0 h-full w-full object-contain",
                      data-lazy-img="assets/img/blueprint.webp",
                      src="",
                      alt=""
                    )
                div(class="absolute bottom-0 left-0 z-10 flex")
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-prev disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16",
                    disabled=""
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M9.53674e-07 10.4591V15.5409L16 26V21.0955L3.28572 13L16 4.90455V0L9.53674e-07 10.4591Z",
                        fill="currentColor"
                      )
                  button(
                    type="button",
                    class="button button--ghost button--icon-lg swiper-button-next disabled:bg-transparent disabled:text-muted max-sm:h-16 max-sm:w-16"
                  )
                    svg(
                      width="16",
                      height="26",
                      viewBox="0 0 16 26",
                      fill="none",
                      xmlns="http://www.w3.org/2000/svg"
                    )
                      path(
                        d="M16 10.4591V15.5409L0 26V21.0955L12.7143 13L0 4.90455V0L16 10.4591Z",
                        fill="currentColor"
                      )
              div(class="col-span-full mt-9 md2:col-[span_11/-1] md2:mt-0")
                div(class="flex items-baseline gap-x-6 gap-y-3")
                  h3(class="flex-1 text-h3") 3-комнатные
                  span(class="text-h4 text-secondary") от 6 354 234 ₽
                ul(class="text-basicL ~mt-10/12 ~space-y-4/6")
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Блок-секция
                    span 1,2,3,4,5
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Этаж
                    span 1-6, 12
                  li(
                    class="flex items-center gap-x-3 border-b border-muted-background ~pb-4/5"
                  )
                    span(class="flex-1 text-muted") Площадь
                    span 16.9 – 19.1 м²
                div(
                  class="flex flex-col gap-x-7 gap-y-4 ~mt-12/[5rem] min-[36.25rem]:flex-row min-[36.25rem]:items-center"
                )
                  a(href="#", class="button text-center") Заказать звонок
                  a(href="apartments.html", class="button button--outlined text-center") Выбрать квартиру
