include ../button

mixin project-features-slider
  section(class="col-span-full grid grid-cols-subgrid")&attributes(attributes)
    div(
      class="col-[main] flex flex-wrap items-end justify-between gap-x-6 gap-y-2 ~mb-8/12"
    )
      h2(class="text-h2 font-medium text-brand") Благоприятная жизнь
        br
        | в пределах дома
    div(class="col-[main] grid grid-cols-subgrid")
      div(
        class="swiper col-span-full w-full md2:col-[span_16]",
        data-project-features-slider-photo=""
      )
        div(class="swiper-wrapper w-full")
          div(class="swiper-slide relative ~min-h-[23rem]/[32rem]")
            img(
              data-lazy-img="assets/img/house-2.webp",
              src="",
              class="absolute inset-0 h-full w-full object-cover",
              alt=""
            )
          div(class="swiper-slide relative ~min-h-[23rem]/[32rem]")
            img(
              data-lazy-img="assets/img/house-2.webp",
              src="",
              class="absolute inset-0 h-full w-full object-cover",
              alt=""
            )
      div(class="col-span-full mt-6 flex flex-col md2:col-[span_7/-1] md2:mt-0")
        div(class="flex")
          +button("ghost", "icon-lg")(
            type="button",
            class="swiper-button-prev disabled:text-muted max-sm:h-16 max-sm:w-16",
            disabled="",
            data-project-features-slider-button-prev=""
          )
            svg(
              width="16",
              height="26",
              viewBox="0 0 16 26",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M9.53674e-07 10.4591V15.5409L16 26V21.0955L3.28572 13L16 4.90455V0L9.53674e-07 10.4591Z",
                fill="currentColor"
              )
          +button("ghost", "icon-lg")(
            type="button",
            class="swiper-button-next disabled:text-muted max-sm:h-16 max-sm:w-16",
            data-project-features-slider-button-next=""
          )
            svg(
              width="16",
              height="26",
              viewBox="0 0 16 26",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M16 10.4591V15.5409L0 26V21.0955L12.7143 13L0 4.90455V0L16 10.4591Z",
                fill="currentColor"
              )
        div(class="swiper mx-0 mt-auto pt-6", data-project-features-slider-text="")
          div(class="swiper-wrapper")
            div(class="swiper-slide")
              h3(class="text-h3 text-primary") Окружение
              p(class="mt-4") Дом на&nbsp;Кленова&nbsp;&mdash; это уникальная возможность дышать свежим воздухом, наслаждаться прекрасными видами из&nbsp;окна на&nbsp;сквер, городские пейзажи. Для этого достаточно просто открыть окно своей квартиры, без надобности выезжать за&nbsp;пределы города.
            div(class="swiper-slide")
              h3(class="text-h3 text-primary") Окружение
              p(class="mt-4") Дом на&nbsp;Кленова&nbsp;&mdash; это уникальная возможность дышать свежим воздухом, наслаждаться прекрасными видами из&nbsp;окна на&nbsp;сквер, городские пейзажи. Для этого достаточно просто открыть окно своей квартиры, без надобности выезжать за&nbsp;пределы города.
