mixin team
  section(class="col-span-full grid grid-cols-subgrid")&attributes(attributes)
    div(
      class="col-[main] flex flex-wrap items-end justify-between gap-x-6 gap-y-2 ~mb-8/12"
    )
      h2(class="text-h2 font-medium text-brand") Наша команда
    div(class="col-[main] grid grid-cols-1 gap-5 sm:grid-cols-2 md2:grid-cols-3")
      article(class="relative flex flex-col ~h-[23rem]/[35rem]")
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/team-1.webp",
          src="",
          alt=""
        )
        div(class="z-10 mr-11 mt-auto bg-brand ~px-6/10 ~py-4/6")
          h3(class="max-w-72 text-h3 text-text-foreground") Лидерослав Управлянов
          p(class="mt-2 text-muted-background ~text-sm/base") Генеральный директор
      article(class="relative flex flex-col ~h-[23rem]/[35rem]")
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/team-2.webp",
          src="",
          alt=""
        )
        div(class="z-10 mr-11 mt-auto bg-brand ~px-6/10 ~py-4/6")
          h3(class="max-w-72 text-h3 text-text-foreground") Проектирослав Квартиров
          p(class="mt-2 text-muted-background ~text-sm/base") Главный инженер
      article(class="relative flex flex-col ~h-[23rem]/[35rem]")
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/team-3.webp",
          src="",
          alt=""
        )
        div(class="z-10 mr-11 mt-auto bg-brand ~px-6/10 ~py-4/6")
          h3(class="max-w-72 text-h3 text-text-foreground") Ремонтослав Интерьеров
          p(class="mt-2 text-muted-background ~text-sm/base") Дзиайнер интерьеров
      article(class="relative flex flex-col ~h-[23rem]/[35rem]")
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/team-4.webp",
          src="",
          alt=""
        )
        div(class="z-10 mr-11 mt-auto bg-brand ~px-6/10 ~py-4/6")
          h3(class="max-w-72 text-h3 text-text-foreground") Квартирослав Продаванов
          p(class="mt-2 text-muted-background ~text-sm/base") Главный по продажам
      article(class="relative flex flex-col ~h-[23rem]/[35rem]")
        img(
          class="absolute inset-0 h-full w-full object-cover",
          data-lazy-img="assets/img/team-5.webp",
          src="",
          alt=""
        )
        div(class="z-10 mr-11 mt-auto bg-brand ~px-6/10 ~py-4/6")
          h3(class="max-w-72 text-h3 text-text-foreground") Цветослав Поливанов
          p(class="mt-2 text-muted-background ~text-sm/base") Стажер
