mixin footer
  footer(
    class="col-span-full grid grid-cols-subgrid bg-muted-foreground ~mt-24/40 ~py-10/12"
  )
    div(
      class="col-[main] flex flex-col items-start ~h-[2.375rem]/[4.625rem] sm:col-[main/span_3]"
    )
      a(
        href="/",
        class="text-brand focus:outline-none focus-visible:ring focus-visible:ring-primary"
      )
        svg(
          class="max-w-full max-sm:w-[5.375rem]",
          width="168",
          height="100%",
          viewbox="0 0 168 74",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M142.288 58.1911V58.7838C142.288 63.8955 143.311 67.6369 145.367 69.9926C147.422 72.3559 150.648 73.5338 155.067 73.5338C159.17 73.5338 162.349 72.3251 164.613 69.9233C166.868 67.5137 168 63.9956 168 59.3766V13.872C168 4.6263 163.897 0.00732422 155.683 0.00732422C146.899 0.00732422 142.288 5.61938 142.288 13.7257V58.1988V58.1911ZM148.677 11.9705C148.677 8.72949 149.547 3.09434 155.136 3.09434C160.078 3.09434 161.495 6.31993 161.495 10.4693V63.118C161.495 67.8293 158.323 70.2004 154.982 70.2004C151.641 70.2004 148.677 67.8909 148.677 63.2643V11.9705Z",
            fill="currentColor"
          )
          path(
            d="M78.015 41.5477V13.8646C78.015 4.61899 73.9118 0 65.6977 0C56.9139 0 52.3027 5.61207 52.3027 13.7184V58.7842C52.3027 63.8959 53.3266 67.6373 55.3821 69.9929C57.4375 72.3563 60.6631 73.5342 65.0819 73.5342C69.1851 73.5342 72.3645 72.3255 74.6278 69.9237C76.8834 67.5141 78.015 63.996 78.015 59.377V53.788H71.5177V63.1184C71.5177 67.8297 68.346 70.2008 65.0049 70.2008C61.6639 70.2008 58.7 67.8913 58.7 63.2646V42.7949H78.015V41.5554V41.5477ZM58.7 11.9709C58.7 8.72987 59.5699 3.09472 65.1589 3.09472C70.1012 3.09472 71.5177 6.32031 71.5177 10.4697V40.393H58.7V11.9709Z",
            fill="currentColor"
          )
          path(
            d="M117.238 72.9106V3.01771H104.42V72.9106H98.0303V0.623535H130.394V3.01771H123.735V72.9106H117.238Z",
            fill="currentColor"
          )
          path(
            d="M34.0034 71.0091H40.5007V73.3186H0V71.0091H7.96772L21.8324 3.01771H12.502V0.623535H34.0419C34.0419 24.0803 34.0188 47.5447 34.0111 71.0091M27.6677 71.0091L27.5445 6.50504L14.2881 71.0091H27.6677Z",
            fill="currentColor"
          )
    nav(
      class="col-[main] mt-10 flex flex-col items-start gap-5 text-basicL text-brand sm:col-[8/span_9] sm:mt-0 md2:col-[8/span_5]"
    )
      a(
        href="projects.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Проекты
      a(
        href="apartments.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Квартиры
      a(
        href="about.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) О застройщике
      a(
        href="contacts.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Контакты
    nav(
      class="col-[main] mt-5 flex flex-col items-start gap-5 text-basicL text-brand max-md2:col-end-[main] sm:col-span-9 sm:mt-0 md2:col-span-5"
    )
      a(
        href="project-detail.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Дом на Кленова
      a(
        href="project-detail.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Пентхауса на Вленова
      a(
        href="project-detail.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) Беломор канал
      a(
        href="project-detail.html",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) ЖК ЛУЧ
    div(
      class="col-[main] mt-10 flex flex-col items-start gap-4 text-brand md2:col-span-5 md2:col-end-[main] md2:mt-0"
    )
      a(
        href="mailto:salo@depostroit.ru",
        class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
      ) salo@depostroit.ru
      p Барнаул, ул. Кленова 123
      div(class="flex flex-wrap items-start gap-4")
        a(
          href="#",
          target="_blank",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        )
          svg(
            width="22",
            height="18",
            viewbox="0 0 22 18",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M19.7589 0.158922C19.7589 0.158922 21.7569 -0.620217 21.5898 1.27183C21.5347 2.05097 21.0354 4.77822 20.6466 7.72763L19.3146 16.4653C19.3146 16.4653 19.2035 17.7454 18.2042 17.968C17.2055 18.1902 15.7069 17.1889 15.4292 16.9662C15.207 16.7991 11.2666 14.2945 9.87902 13.0705C9.49022 12.7362 9.04588 12.0687 9.93457 11.2896L15.7624 5.72398C16.4284 5.05542 17.0944 3.49714 14.3193 5.3897L6.54852 10.6765C6.54852 10.6765 5.66036 11.2335 3.99562 10.7326L0.387407 9.61917C0.387407 9.61917 -0.944588 8.78449 1.33112 7.9498C6.88178 5.33416 13.7089 2.66297 19.7584 0.158408",
              fill="#002134"
            )
        a(
          href="#",
          target="_blank",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        )
          svg(
            width="22",
            height="18",
            viewbox="0 0 22 18",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M19.7589 0.158922C19.7589 0.158922 21.7569 -0.620217 21.5898 1.27183C21.5347 2.05097 21.0354 4.77822 20.6466 7.72763L19.3146 16.4653C19.3146 16.4653 19.2035 17.7454 18.2042 17.968C17.2055 18.1902 15.7069 17.1889 15.4292 16.9662C15.207 16.7991 11.2666 14.2945 9.87902 13.0705C9.49022 12.7362 9.04588 12.0687 9.93457 11.2896L15.7624 5.72398C16.4284 5.05542 17.0944 3.49714 14.3193 5.3897L6.54852 10.6765C6.54852 10.6765 5.66036 11.2335 3.99562 10.7326L0.387407 9.61917C0.387407 9.61917 -0.944588 8.78449 1.33112 7.9498C6.88178 5.33416 13.7089 2.66297 19.7584 0.158408",
              fill="#002134"
            )
        a(
          href="#",
          target="_blank",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        )
          svg(
            width="22",
            height="18",
            viewbox="0 0 22 18",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M19.7589 0.158922C19.7589 0.158922 21.7569 -0.620217 21.5898 1.27183C21.5347 2.05097 21.0354 4.77822 20.6466 7.72763L19.3146 16.4653C19.3146 16.4653 19.2035 17.7454 18.2042 17.968C17.2055 18.1902 15.7069 17.1889 15.4292 16.9662C15.207 16.7991 11.2666 14.2945 9.87902 13.0705C9.49022 12.7362 9.04588 12.0687 9.93457 11.2896L15.7624 5.72398C16.4284 5.05542 17.0944 3.49714 14.3193 5.3897L6.54852 10.6765C6.54852 10.6765 5.66036 11.2335 3.99562 10.7326L0.387407 9.61917C0.387407 9.61917 -0.944588 8.78449 1.33112 7.9498C6.88178 5.33416 13.7089 2.66297 19.7584 0.158408",
              fill="#002134"
            )
    div(
      class="col-[main] mt-[5rem] flex flex-wrap items-center justify-between gap-x-4 gap-y-3 text-basicS text-muted"
    )
      p © 2024 СЗ Депо. Все права защищены
      p
        | Сайт от&nbsp;
        a(
          href="https://countryagency.ru/",
          target="_blank",
          class="hover:text-primary focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) Country
