mixin header
  header(
    class="sticky top-0 z-50 col-span-full grid grid-cols-subgrid bg-background py-4"
  )
    div(class="col-[main] grid grid-cols-subgrid items-center")
      a(
        href="/",
        class="col-span-5 focus:outline-none focus-visible:ring focus-visible:ring-primary sm:col-span-4 md2:col-span-2"
      )
        svg(
          class="max-w-full",
          width="112",
          height="48",
          viewBox="0 0 112 48",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M94.8584 37.985V38.372C94.8584 41.7086 95.541 44.1509 96.9113 45.6885C98.2816 47.2313 100.432 48.0001 103.378 48.0001C106.113 48.0001 108.233 47.2112 109.742 45.6433C111.245 44.0704 112 41.774 112 38.7589V9.05538C112 3.0202 109.264 0.00512695 103.788 0.00512695C97.9326 0.00512695 94.8584 3.66844 94.8584 8.9599V37.9901V37.985ZM99.1181 7.81417C99.1181 5.69859 99.698 2.0202 103.424 2.0202C106.719 2.0202 107.663 4.12573 107.663 6.83427V41.2011C107.663 44.2765 105.549 45.8242 103.321 45.8242C101.094 45.8242 99.1181 44.3167 99.1181 41.2966V7.81417Z",
            fill="currentColor"
          )
          path(
            d="M52.0097 27.1206V9.05025C52.0097 3.01508 49.2742 0 43.7982 0C37.9423 0 34.8682 3.66332 34.8682 8.95478V38.3719C34.8682 41.7085 35.5507 44.1507 36.921 45.6884C38.2913 47.2312 40.4417 48 43.3876 48C46.1231 48 48.2427 47.2111 49.7515 45.6432C51.2553 44.0703 52.0097 41.7739 52.0097 38.7588V35.1106H47.6781V41.201C47.6781 44.2764 45.5637 45.8241 43.3363 45.8241C41.1089 45.8241 39.133 44.3166 39.133 41.2965V27.9347H52.0097V27.1256V27.1206ZM39.133 7.81407C39.133 5.69849 39.713 2.0201 43.4389 2.0201C46.7338 2.0201 47.6781 4.12563 47.6781 6.83417V26.3668H39.133V7.81407Z",
            fill="currentColor"
          )
          path(
            d="M78.1584 47.5931V1.97004H69.6133V47.5931H65.3535V0.407227H86.9293V1.97004H82.4899V47.5931H78.1584Z",
            fill="currentColor"
          )
          path(
            d="M22.6689 46.3519H27.0005V47.8595H0V46.3519H5.31183L14.5549 1.97004H8.33469V0.407227H22.6946C22.6946 15.7188 22.6792 31.0354 22.6741 46.3519M18.4451 46.3519L18.363 4.24642L9.52536 46.3519H18.4451Z",
            fill="currentColor"
          )
      button(
        type="button",
        class="col-start-[14] focus:outline-none focus-visible:ring focus-visible:ring-primary md2:hidden",
        data-modal-trigger="burger"
      )
        svg(
          width="37",
          height="36",
          viewBox="0 0 37 36",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          g(clip-path="url(#clip0_626_905)")
            path(d="M0.5 10H36.5", stroke="black", stroke-width="1.5")
            path(d="M6.5 18H30.5", stroke="black", stroke-width="1.5")
            path(d="M0.5 26H36.5", stroke="black", stroke-width="1.5")
          defs
            clipPath#clip0_626_905
              rect(
                width="36",
                height="36",
                fill="white",
                transform="translate(0.5)"
              )
      nav(
        class="col-[span_18/span_18] hidden items-center gap-x-6 md2:col-[span_14/span_14] md2:col-start-5 md2:flex"
      )
        a(
          href="/projects.html",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) Проекты
        a(
          href="#",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) Квартиры
        a(
          href="#",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) О застройщике
        a(
          href="#",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) Медиа
        a(
          href="#",
          class="focus:outline-none focus-visible:ring focus-visible:ring-primary"
        ) Контакты
      div(class="col-end-[main] text-right lg:col-[span_5/main]")
        a(
          href="tel:+78000000000",
          class="text-lg font-medium focus:outline-none focus-visible:ring focus-visible:ring-primary lg:text-secondary"
        ) 
          span(class="max-lg:hidden") +7 800 000 00 00
          span(class="lg:hidden")
            svg(
              width="36",
              height="36",
              viewBox="0 0 36 36",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M29.9995 23.8933V28.608C29.9997 28.9456 29.8718 29.2706 29.6416 29.5176C29.4115 29.7646 29.0963 29.915 28.7595 29.9387C28.1773 29.9796 27.7017 30 27.3328 30C15.5502 30 5.99951 20.4493 5.99951 8.66667C5.99951 8.29867 6.01996 7.82311 6.06085 7.24C6.08447 6.90326 6.23495 6.58801 6.48192 6.35788C6.72888 6.12774 7.05394 5.99985 7.39151 6H12.1062C12.2716 5.99983 12.4311 6.06115 12.5538 6.17203C12.6765 6.28291 12.7536 6.43544 12.7702 6.6C12.8004 6.90578 12.8288 7.15111 12.8555 7.336C13.1205 9.18524 13.6635 10.9838 14.4662 12.6707C14.5928 12.9373 14.5102 13.256 14.2702 13.4267L11.3928 15.4827C13.1525 19.5817 16.4191 22.8484 20.5182 24.608L22.5715 21.736C22.6551 21.6182 22.7775 21.5338 22.9173 21.4974C23.0571 21.4611 23.2052 21.4752 23.3355 21.5373C25.0222 22.3385 26.8203 22.8802 28.6688 23.144C28.8537 23.1707 29.0982 23.1991 29.4022 23.2293C29.5665 23.2462 29.7187 23.3234 29.8293 23.4461C29.9399 23.5688 29.9997 23.7282 29.9995 23.8933Z",
                fill="currentColor"
              )
