mixin range-slider(opts)
  div(data-range-slider="")&attributes(attributes)
    label(for=opts.id, class="text-muted")!= opts.label
    div(class="relative mt-3 grid grid-cols-2")
      input(
        type="number",
        id=opts.id,
        placeholder=opts.fields[0].placeholder,
        value=opts.fields[0].value,
        name=opts.fields[0].name,
        min=opts.min,
        max=opts.max,
        step=opts.step,
        inputmode="numeric",
        autocomplete="off",
        spellcheck="false",
        class="h-14 rounded-none border border-muted text-center placeholder:text-muted-background focus:outline-none",
        data-range-slider-min=""
      )
      input(
        type="number",
        placeholder=opts.fields[1].placeholder,
        value=opts.fields[1].value,
        name=opts.fields[1].name,
        min=opts.min,
        max=opts.max,
        step=opts.step,
        inputmode="numeric",
        autocomplete="off",
        spellcheck="false",
        class="h-14 rounded-none border border-muted text-center placeholder:text-muted-background focus:outline-none",
        data-range-slider-max=""
      )
      div(
        data-range-slider-ui="",
        class="absolute inset-x-0 -bottom-[0.3125rem] h-[0.625rem] rounded-none border-none bg-transparent shadow-none"
      )
